.About_Wrapper {
    background-color: rgba(67, 116, 95, 0);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.About_Container {
    background-color: rgba(67, 116, 95, 0.712);
    height: 75%;
    width: 25%;
    border-radius: 50px;
    margin-top: 5%;
}