.name {
    color: #f0f2f2 !important;
    animation: jello 10s ease-in 10s infinite ;
    background-color: #6b877800;
}

.navbar {
  position: fixed;
  background-color: #6b8778ab;
  width: 100%;
  height: 5em;
  text-align: center;
  display: flex;
  z-index: 10;
  margin-top: 1px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0em 2em;
  align-items: center;
}



  @keyframes jello {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1, 0.75, .1);
    }
    40% {
      transform: scale3d(0.75, 1.05, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }